@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  max-width: 100%;
}

body {
  background: #141414;
  font-family: "Inter";
  font-weight: 400;
}

input {
  border-color: #737373;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .gutter {
  background-color: #e5e7eb;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
.gutter.gutter-horizontal:hover {
  background-color: blue;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: row-resize;
}
.gutter.gutter-vertical:hover {
  background-color: blue;
} */

body .reflex-container.vertical > .reflex-splitter {
  background: #3b3b3b;
  border: 0;
  transition: 0.1s linear !important;
}
body .reflex-container.horizontal > .reflex-splitter {
  background: #3b3b3b;
  border: 0;
  transition: 0.1s linear !important;
}
body .reflex-container.vertical > .reflex-splitter:hover {
  border: 0;
  background: #14b3ff;
}
body .reflex-container.horizontal > .reflex-splitter:hover {
  border: 0;
  background: #14b3ff;
}
