@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  background: #141414;
  font-family: "Inter";
  font-weight: 400;
}

input {
  border-color: #737373;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body .reflex-container.vertical > .reflex-splitter {
  background: #3b3b3b;
  border: 0;
  transition: 0.1s linear !important;
}
body .reflex-container.horizontal > .reflex-splitter {
  background: #3b3b3b;
  border: 0;
  transition: 0.1s linear !important;
}
body .reflex-container.vertical > .reflex-splitter:hover {
  border: 0;
  background: #14b3ff;
}
body .reflex-container.horizontal > .reflex-splitter:hover {
  border: 0;
  background: #14b3ff;
}

.monaco-scrollable-element > .scrollbar > .slider {
  background: rgba(78, 86, 102, 0.5);
}
::-webkit-scrollbar {
  width: 0;
}
.invisible {
  visibility: hidden;
}
